@charset "ute-8";
.プロフィールです {
  background-image: url(imgbts.jpg);
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
}


header {
  background-color: #999;
  color: white;
  padding: 5px 15px 0 15px;
}


header ul li{
  background: black;
  display: inline;
  list-style-type: none;
  padding: 5px 15px;
}
header ul {
  margin: 0;
  text-align: right;
}

.o {
  text-align: center;
  padding-top: 140px;
  font-size: 150px;
}
h2 {
  color: blue;
}
form textarea {
  width: 250px;
  height: 50px;
}
